*{
    margin: 0;
    padding: 0;
    border: 0;
}

:root{
    --oxford-blue: #0B2447;
    --blue-yonder: #576CBC;
    --indigo: #19376D;
    --non-photo-blue:#A5D7E8;
}

.main-content{
    width: 100%;
    height: 100vh;
}

.portfolio,
.contact,
.tools,
.certification{
    margin-top: 150px;
}

.imgContent{
    height: auto;
    width:50vw;
}

.fontContent{
    font-size: 2em;
}

.socialMe_con{
    color: black;
}

@media screen and (max-width:1320px) {
   
    .aboutMe .container img{
        flex-direction: column;
   }  

   .imgContent{
        height: auto;
        width: 80vw;
   }

    .fontContent{
     font-size: 1.5em;
     padding-top: 32px;
   } 

   .aboutMe a{
    text-decoration: none;
   }

   .viewResume{
     margin: auto;
     display: block;
   }

   .card{
        display: block;
        margin: auto;
   }

   .card img{
        height: 80px;
        width: 80px;
        margin: auto;
        padding-top: 10px;
   }

}


@media screen and (max-width:600px) {
   
    /* .imgContent{
        height: auto;
        width: 70vw;
   } */
     
   .fontContent{
    font-size: 1em;
  } 
}


/* role animation */

.dropping-texts {
    display: block;
  }
  
  .dropping-texts > p {
    opacity:0;
    position:relative;
  }
  
  .dropping-texts > p:nth-child(1) {
    animation: roll 5s linear infinite 0s;
  }
  .dropping-texts > p:nth-child(2) {
    animation: roll 5s linear infinite 1s;
  }

/* redesign */

@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    
  }
  20% {
    font-size:inherit;
    opacity:1;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0.5;
  }
  100% {
    font-size:0px;
    opacity:0;
    transform: rotate(15deg);
  }
}
  

/* certification */
.card{
    max-width: 70%;
    height: 50%;
}